.nav a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  font-style: italic;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #f7a918;
}
.fixedbutton {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 30;
}
.popup {
  position: fixed;
  top: 60%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 40%;
  background-color: white;

  z-index: 30;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid white;
}
.container {
  position: relative;
}
.position {
  width: 100%;
  position: absolute;
  bottom: -190px;
  font-size: 18px;
}
